<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name='keywords' content='WebRTC, HTML5, JavaScript' />

			<!-- <meta http-equiv="refresh" content="10"> -->

		<meta name='description' content='Syrow Video Conference' />
		<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src='/js/home.js'></script>
		<script src='/js/jquery.min.js'></script>
		<link rel="stylesheet" type="text/css" href="css/home.css" media="screen" />
		<title>Syrow Video Conference </title>
	</head>
	<body>
        <main id="container">
			<section id="success">
				<h1>We Run on Syrow</h1>
	    	</section>
        </main>
				<script src="https://app.syrow.com/script/chatter-kfYHz71jlRULYz1AiNKyu6jekxpIs1FVZ1KDCVQ3z20=.js"></script>
	</body>
</html>
