<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name='description' content='WebRTC Reference App' />
	<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
	<link rel="stylesheet" type="text/css" href="js/dist/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="js/dist/rzslider.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/room.css" media="screen" />
	<title>Video Conference</title>
</head>


<body id="main" ng-app="app" ng-controller="main">

	<div ng-if="audio_video=='video'" class="row {{videoClass}}" style="{{isAgent?'font-size:15px;':''}}; margin:0px; background-color:#{{windowColor}}; color:#fff;">
		<div id="mainIconsFrame" class="col-xs-{{isAgent?'10':'6'}}" style="{{isAgent?'padding-top:1vh':'padding-top:3vh'}} ">
			<div class="container-fluid my_icons">
				<div class="col-xs-2" style="padding:0px;">
					<i title="{{isVideoOn?'Hide Video':'Show Video'}}" id="toggle" style="{{isAgent? 'padding-top:5px':''}} {{isVideoOn?'':'color:grey !important;'}}" ng-click="hideVisitorVideo()" class="toggle fa fa-video-camera {{!isAgent&&rotateIcons.value? 'rotateIt':''}} {{isAgent? 'fa-lg':''}}"></i>
				</div>
				<div class="col-xs-2" style="padding:0px;">
					<i title="{{mic==true?'Mute':'Unmute'}}" id="mute" ng-click="mic=!mic" style="{{isAgent? 'padding-top:5px':''}}" class=" toggle {{!isAgent&&rotateIcons.value? 'rotateIt':''}} fa fa-microphone{{mic? '':'-slash'}} {{isAgent? 'fa-lg':''}}"></i>
				</div>
				<div class="col-xs-2" style="padding:0px;">
					<i title ="{{pause==true?'Pause':'Play'}}" id="pause" ng-click="pause=!pause" style="{{isAgent? 'padding-top:5px':''}}" class="toggle {{!isAgent&&rotateIcons.value? 'rotateIt':''}} fa fa-{{pause? 'pause':'play'}} {{isAgent? 'fa-lg':''}}"></i>
				</div>
				<div ng-show="!isAgent&&!isUserMobile && !conditions.hideShareScreenBtn" class="col-xs-2" style="padding:2px;">
					<i title="Share Screen" id="screenSharing" style="{{isAgent? 'padding-top:5px':''}}" onclick="calledToStop()" class="toggle {{!isAgent&&rotateIcons.value? 'rotateIt':''}} fa fa-desktop {{isAgent? 'fa-lg':''}}"></i>
				</div>
				
				<div class="col-xs-2" style="padding:2px;">
					<i title="Full Screen" onclick="max_window()" style="{{isAgent? 'padding-top:3px':''}}" class="toggle {{!isAgent&&rotateIcons.value? 'rotateIt':''}} fa fa-arrows-alt {{isAgent? 'fa-lg':''}}"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- <div ng-if="audio_video=='video'" class="row {{videoClass}}" style="{{isAgent?'font-size:15px;':''}}; margin:0px; background-color:#{{windowColor}}; color:#fff;">
		<div id="mainIconsFrame" class="col-xs-{{isAgent?'10':'6'}}" style="{{isAgent?'padding-top:1vh':'padding-top:3vh'}} ">
			<div class="container-fluid my_icons">
				<div class="col-xs-2" style="padding:0px;">
					<i ng-if="!isAgent" id="toggle" style="{{isAgent? 'padding-top:5px':''}}" ng-click="hideVisitorVideo()" class="fa fa-video-camera {{!isAgent&&!isVideoOn? 'rotateIt':''}} {{isAgent? 'fa-lg':''}}"></i>
				</div>
				<div class="col-xs-2" style="padding:0px;">
					<i id="mute" ng-click="mic=!mic" style="{{isAgent? 'padding-top:5px':''}}" class="{{!isAgent&&!isVideoOn? 'rotateIt':''}} fa fa-microphone{{mic? '':'-slash'}} {{isAgent? 'fa-lg':''}}"></i>
				</div>
				<div class="col-xs-2" style="padding:0px;">
					<i id="pause" ng-click="pause=!pause" style="{{isAgent? 'padding-top:5px':''}}" class="{{!isAgent&&!isVideoOn? 'rotateIt':''}} fa fa-{{pause? 'pause':'play'}} {{isAgent? 'fa-lg':''}}"></i>
				</div>
				<div ng-show="!isAgent&&!isUserMobile" class="col-xs-2" style="padding:2px;">
					<i id="screenSharing" style="{{isAgent? 'padding-top:5px':''}}" onclick="calledToStop()" class="{{!isAgent&&!isVideoOn? 'rotateIt':''}} fa fa-desktop {{isAgent? 'fa-lg':''}}"></i>
				</div>
				<div class="col-xs-2" style="padding:2px;">
					<i onclick="max_window()" style="{{isAgent? 'padding-top:3px':''}}" class="{{!isAgent&&!isVideoOn? 'rotateIt':''}} fa fa-arrows-alt {{isAgent? 'fa-lg':''}}"></i>
				</div>
			</div>
		</div>
	</div> -->

	<div ng-if="audio_video=='audio'" class="row {{videoClass}}" style="{{isAgent?'font-size:18px; height:100vh':''}} ; background-color:#fff;">
		<div class="col-xs-12">
			<div class="container-fluid">
				<div class="col-xs-1">
					<i ng-if="!isMicOn" class="fa fa-microphone-slash myIcons" style="background-color:#{{windowColor}};color:#fff;" aria-hidden="true" ng-click="handleMicOn()"></i>
					<i ng-if="isMicOn" class="fa fa-microphone myIcons" aria-hidden="true" style="background-color:#{{windowColor}};color:#fff;" ng-click="handleMicOff()"></i>
				</div>
				<div id="Ringing" class="col-xs-8 col-xs-offset-1" style="font-size:14px;padding-top:10px;text-align:center">
					<span id="RingHtml">Ringing....</span>
				</div>
			</div>
		</div>
	</div>
</div>

	<canvas id="canvas_agent" style="display:none"></canvas>
	<div ng-if="audio_video=='video'" class="row" style="height:86vh; background-color:#eee; margin:0px;">
		<div ng-if="audio_video=='video'" id="videos">
			<div id="videosWrapper">
				<div id="localVideoWrap" class='videoWrap'>
					<div id="calling" style="position:absolute;top:15%;left:27%">
					</div>
					<video class="videoBox" id="localVideo" style="height:100%" controls='true' playsinline autoplay muted="muted"></video>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="audio_video=='audio'" class="row">
		<div id="audio">
			<div id="audiosWrapper">
				<div id="localAudioWrap" class='audioWrap'>
					<audio class="audioBox" id="localAudio" style="" autoplay></audio>
				</div>
			</div>
		</div>
	</div>

	<script src="js/dist/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<script>
		var HOST_ADDRESS = '<%= hostAddress %>';
		var UID = '<%= uid %>';
	</script>
<!-- <script src="js/recordrtc/sample.js"></script> -->
	<script src='/socket.io/socket.io.js'></script>
	<script src='/js/lib/adapternew.js'></script>
	<script src="js/dist/jquery.min.js"></script>
	<script src="js/dist/angular.min.js"></script>
	<script src="js/recordrtc/RecordRTC.js"></script>
	<script src="js/dist/getScreeenId.js"></script>
	<script src='/js/meeting.js'></script>
	<script src='/js/room.js'></script>
	<script src="js/dist/rzslider.min.js"></script>

</body>
</html>
