html {
	font-size: 16px;
	height:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	background-color: #f6f6f6;
	width:100%;
}

.container {
	display: table;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/********************** VIDEO ELEMENTS **************************/
video {
	outline:none;
}

.rzslider .rz-pointer{
	background-color:#000;
}

.videoMobile {
	font-size:16px;
	padding: 10px;
	min-height:40px
}

.videoFull {
	font-size:25px;
	min-height:80px
}

#videos {
	display:table-cell;
	vertical-align: middle;
	text-align: center;
    width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#videosWrapper {
    position: relative;
    display:inline-block;
    text-align: center;
		width: 99vw;
		height: 86vh;

}

.videoBox {
    border-radius: 5px;
	width:100%;
    vertical-align:middle;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.videoWrap {
    /* display: inline-block; */
    /* margin:0.5em; */
    padding:0px;
    background-color: #fff;
    border-radius: 5px;
		height: 86vh;
		margin: 0;
}

/* we have exactly two videos */
#localVideoWrap:first-child:nth-last-child(2) {
    position:absolute;
    /* bottom:1.5em; */
    right:1.5em;
    height:35%;
    margin:0;
    padding:1px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0;
}

#localVideoWrap:first-child:nth-last-child(2) .videoBox{
    border:none;
    border-radius: 0;
}

.my_icons i:hover{
	cursor: pointer
}

.rotateIt{
	transition: all 1s;
	transform: rotate(-90deg);
}










@import url(https://fonts.googleapis.com/css?family=Raleway:500);

$primary-color: #2ecc71;

body {
	background: #2a2a2a;
	font-family: Raleway;
}

h1 {
	text-align: center;
	font-size: 34px;
	padding-top: 40px;
	color: #FFF;
}

p {
	color: #999;
	text-align: center;
	font-size: 15px;

	a {
		color: $primary-color;
		text-decoration: none;
		padding: 1px 2px 0px 2px;
		border-bottom: 2px solid rgba(0, 0, 0, .0);
		transition: all .1s ease;

		&:hover {
			padding: 1px 2px 1px 2px;
			border-bottom: 2px solid #555;
		}
	}
}

.myIcons{
	padding: 7px 10px;
	font-size: 17px;
	border-radius: 50%;
	width: 35px;
	text-align: center;
}

#player {
	width: 350px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	top: 80px;

	i {
		position: absolute;
		margin-top: -6px;
		color: #666;
	}

	i.fa-volume-down {
		margin-left: -8px;
	}

	i.fa-volume-up {
		margin-right: -8px;
		right: 0;
	}
}

#volume {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 5px;
	width: 300px;
	background: #555;
	border-radius: 15px;

	.ui-slider-range-min {
		height: 5px;
		width: 300px;
		position: absolute;
		background: $primary-color;
		border: none;
		border-radius: 10px;
  	outline: none;
	}

	.ui-slider-handle {
		width: 20px;
  	height: 20px;
		border-radius: 20px;
  	background: #FFF;
  	position: absolute;
  	margin-left: -8px;
  	margin-top: -8px;
  	cursor: pointer;
  	outline: none;
	}
}
