<div class="modal-body">
  <div class="container-fluid text-center">
    <h4>Unable to answer the call, kindly retry.</h4>
    <button type="button" class="btn btn-danger" ng-click="close()">
      Close
    </button>
  </div>
</div>
